.scroll-up {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 45px;
  height: 45px;

  background: #f4c430;
  color: #111;
  border: none;
  border-radius: 50%;

  font-size: 22px;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.scroll-up:hover {
  background: #ddb21e;
  transform: translateY(-3px);
}
